version: "3.8"
services:
  app:
    build: .
    container_name: sudoku_app
    environment:
      - FLASK_ENV=production
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    container_name: sudoku_nginx
    depends_on:
      - app
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./src/app/static:/app/src/app/static:ro
    restart: unless-stopped